.container {
  padding: 0 60px;
  margin: 120px auto 0;
  max-width: 1920px;

  @media (max-width: $tablet) {
    padding: 0 20px;
    margin: 40px auto 0;
  }
}

.container--small {
  padding: 0 20px;

  @media (max-width: $tablet) {
    padding: 0;
  }
}
