.container {
  padding: 0 20px;
  margin: 120px auto 0;
  max-width: 1920px;

  @media (max-width: $media-procedures) {
    padding: 40px 20px 0;
  }
}

.container--padding-mobile {
  @media (max-width: $tablet) {
    padding: 40px 0 0;
  }
}
