.dark-curtain {
  @media (max-width: $media-menu) {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: $border-mid;
    left: 100%;
    transition: left $animation;

    z-index: 900;
  }

  .header--open-menu + & {
    left: 0;
  }
}
