.my-select {
  margin-top: 100px;
  margin-bottom: 100px;
}

.my-select__input {

}

.my-select__wrap-option {
  position: relative;
  top: 0;
  left: 0;

  max-height: 0;
  width: 100%;

  overflow: hidden;
  transition: $animation;

  background-color: #9a500f;

  .my-select--open & {
    overflow-y: auto;
    max-height: 200px;
    transition: $animation;
  }
}

.my-select__option {

}

