.mySelect {
  position: relative;
  z-index: 1;
}

.mySelect__input {

}

.mySelect__wrap-option {
  position: absolute;
  bottom: 0;
  left: 0;

  height: 0;
  width: 100%;
  z-index: 1;

  overflow: hidden;
  transition: $animation;

  .mySelect--open & {
    top: 100%;
    height: auto;
  }
}

.mySelect__option {

}

