.stages {
  padding: 8.5% 60px 120px;
  background: url("../img/stages-grooming.svg");
  background-repeat: no-repeat;
  background-size: 93%;
  background-position-x: 54%;

  @media (max-width: $tablet) {
    padding: 6.5% 20px 120px;
  }
}

.stages__list {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: minmax(260px, min-content) minmax(360px, 1fr);
  gap: 20px;

  @media (max-width: $media-types) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.stages__item {
  background-color: $basic-white;
  padding: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $media-types) {
    flex-direction: column-reverse;

    transform: translateY(40%);
    transition: transform $animation;

    &.show-element {
      transform: translateY(0);
      top: 0;
    }
  }

  &:first-of-type {
    grid-row: 1/-1;

    flex-direction: column-reverse;
    padding-right: 130px;

    background-image: url("../img/bac-icon.svg"), url("../img/bac-icon-small.svg");
    background-color: $brown;
    background-repeat: no-repeat;
    background-position: right -33% top 98px, bottom 40px right 30px;
    background-size: 72.5%, auto;
    border-radius: $border-radius-bottom-right;
  }

  &:nth-of-type(2) {
    border-radius: $border-radius-bottom-right;
  }

  &:nth-of-type(3) {
    border-radius: $border-radius-bottom-left;

    @media (max-width: $media-types) {
      border-radius: $border-radius-bottom-right;
    }
  }

  &:nth-of-type(4) {
    border-radius: $border-radius-top-right;

    @media (max-width: $media-types) {
      border-radius: $border-radius-bottom-right;
    }
  }

  &:nth-of-type(5) {
    border-radius: $border-radius-top-left;

    @media (max-width: $media-types) {
      border-radius: $border-radius-bottom-right;
    }
  }
}

.stages__subtitle {
  .stages__item:first-of-type & {
    color: $blue;
  }

  .stages__item:not(:first-of-type) & {
    margin-bottom: 60px;
    color: $brown;

    @media (max-width: $media-types) {
      margin-bottom: auto;
    }
  }

  @media (max-width: $media-types) {
    margin-top: 80px;
  }
}

.stages__text {
  .stages__item:first-of-type & {
    color: $basic-white;
  }
}
