<header class="header header--js">
  <img class="header__logo" width="130" height="40" src="./img/logo-desktop.png" srcset="./img/logo-desktop@x2.png 2x"
       alt="Логотип компании Groomers">

  <button class="header__btn-menu header__btn-menu--js button button--border hide-completely"><span
    class="header__burger"></span> Меню
  </button>

  <div class="header__wrap-menu">
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item"><a href="" class="header__link @@activeHome">Главная</a></li>
        <li class="header__item"><a href="" class="header__link @@activeAbout">О нас</a></li>
        <li class="header__item"><a href="" class="header__link @@activePrise">Прайс-лист</a></li>
        <li class="header__item"><a href="" class="header__link @@activeReviews">Отзывы</a></li>
      </ul>
    </nav>

    <button class="header__btn button button--border">Обратный звонок</button>
    <button class="header__btn button">Оставить заявку</button>
  </div>
</header>

<div class="dark-curtain"></div>
